.vs/
x64/
Win32/
Debug/
Release/
ipch/
GeneratedFiles/

*.vcxproj.user
*.sdf
*.suo
*.opensdf

service/.vs/
service/x64/
service/Win32/
service/Debug/
service/Release/
service/ipch/
service/GeneratedFiles/

setup/
